<meta charset="UTF-8"/>
<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
<title>{{ title }}</title>
<link href="/styles/main.css" rel="stylesheet"/>
<link rel="icon" type="image/webp" href="/assets/images/me-square-webp.webp"/>
<link rel="canonical" href="{{ meta.url }}{{ page.url }}"/>
<meta name="description" content="{{ description }}"/>