<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>{{ title }}</title>
    <link href="/styles/main.css" rel="stylesheet"/>
    <link rel="icon" type="image/webp" href="/assets/images/coffee.webp"/>
  </head>
  <body class="flex flex-col min-h-screen bg-slate-950 text-white">
    <!-- Container -->
    <div class="flex-grow w-full max-w-4xl mx-auto p-4 flex flex-col">
      <!-- Header -->
      {% include "header.njk" %}
      <!-- Main Content -->
      <main class="flex-grow">
        {{ content | safe }}
      </main>
    </div>
    <!-- Footer -->
    {% include "footer.njk" %}
  </body>
</html>