<!DOCTYPE html>
<html lang="{{ page.lang }}" dir="{{ languages[page.lang].dir }}">
  <head>
    {% include "head.njk" %}
  </head>
  <body
    class="flex flex-col min-h-screen bg-slate-950 text-white">
    <!-- Language Picker -->
    {% include "language_picker.njk" %}
    <!-- Container -->
    <div
      class="flex-grow w-full max-w-4xl mx-auto p-4 flex flex-col">
      <!-- Header -->
      {% include "header.njk" %}
      <!-- Main Content -->
      <main class="flex-grow">
        {{ content | safe }}
      </main>
    </div>
    <!-- Footer -->
    {% include "footer.njk" %}
    
  </body>
</html>